In [2]:
import pandas as pd

df_one = pd.DataFrame(columns=["Column 1", "Column 2"])
df_one

Empty DataFrame
Columns: [Column 1, Column 2]
Index: []

In [3]:
df_one.columns = ["First", "Second"]
df_one

Empty DataFrame
Columns: [First, Second]
Index: []

In [6]:
new_data = {
    "First": [1, 2, "foo"],
    "Second": [3, 4, "bar"]
}

df_two = pd.DataFrame(new_data)

df_two

  First Second
0     1      3
1     2      4
2   foo    bar