In [1]:
import pandas as pd

In [2]:
df_csv = pd.read_csv('../../data/test01/example-1.csv')
df_csv

     Branch       Date  Amount
0  Branch A  January 1   500.0
1  Branch B  January 2   250.0
2  Branch A  January 3   300.0